*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    
}
body{
    display:flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e1e1e;
}
/* #paragraph{
    color:#646669;
    width:fit-content;
    height: fit-content;
    white-space: pre-wrap;
    hyphens: auto;
    inline-size: 1100px;
    overflow-wrap: break-word;
    
} */
.result-details{
    color: white;
}
::selection{
    color:#fff;
    background-color: #007acc;
}
.wrapper{
    margin-top: 100px;
    max-width: 1300px;
    width: fit-content;
    /* padding: 35px; */
    background-color: #1e1e1e;
    border-radius: 10px;
    
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, .5); */
}
.wrapper .input-field{
    opacity: 0;
    position: absolute;
    z-index: -100;
}
.wrapper .content-box {
    /* max-width: 1100px; */
    /* padding: 13px 20px 0; */
    border-radius: 10px;

    /* border: 4px solid #007acc; */
}
.content-box .typing-text {
    overflow: visible; 
    max-height: fit-content;

}
.typing-text::-webkit-scrollbar {
    width: 0;
}
/* .typing-text p{
    font-size: 21px;
    text-align: justify;
    word-spacing: 3px;
    letter-spacing: 1px;
    color:#646669;
    width:fit-content;
    height: fit-content;
    white-space: pre-wrap;
    hyphens: auto;
    inline-size: 1100px;
    overflow-wrap: break-word;
    
} */
.typing-text p{
    inline-size: 1300px;
    hyphens: auto;
    white-space:pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;  
    overflow-wrap:break-word;
    font-size: 26px;
    word-spacing:4px;
    text-align: justify;
    overflow-inline: clip;
    white-space:pre-line;
    font-size: 1.6rem;
    font-weight: 500;
    


}
                   /*                     this line                      */
.typing-text p span {       
    position: relative;
    display:inline;
}
.typing-text p span.correct {
    color: #d1d0c5;

}
.typing-text p span.incorrect{
    color: #ca4754;

}
 /* .typing-text p span.active::before{
    content:"";
    position: absolute;
    width: 2px;
    height: 100%;
    bottom: 0;
    left: -2px;
    border-radius: 5px;
    background: #007acc;
    
    animation: blink 1s ease-in-out infinite; */

 
@keyframes blink {
    50% {
        opacity: 1;
    }
}
            /*                     this line                      */
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border-top: 3px solid #007acc; */

}

.content button{
    
    outline: none;
    border: none;
    width: 105px;
    color: #007acc;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    /* border: 3px solid #007acc; */
    background: none;
    transition: transform 0.2s ease;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.content button:active{
    transform: scale(.89);
}
.content button:hover{
    color: #0096fa;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.content .result-details{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100%-140px);
    justify-content: space-between;
}
.result-details li{
    display: flex;
    height:20px;
    list-style: none;
    align-items: center;
}
.result-details li:not(:first-child){
    padding-left: 22px;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
li span b{
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
